body{

background:#f5f9ff;

padding:30px;

font-family:Arial;

}

.container{

max-width:800px;

margin:auto;

}

form{

display:flex;

flex-direction:column;

gap:15px;

margin-bottom:30px;

}

input,

select,

textarea{

padding:15px;

border-radius:12px;

border:2px solid #ddd;

font-size:16px;

}

textarea{

height:120px;

resize:none;

}

button{

padding:15px;

background:#2f63ff;

color:white;

border:none;

border-radius:12px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}

.card{

background:white;

padding:20px;

border-radius:16px;

margin-top:20px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.delete{

background:#e53935;

margin-top:10px;

padding:10px;

border-radius:8px;

color:white;

border:none;

cursor:pointer;

}