 /* ===========================
   BUTTONS
=========================== */

.primary{

display:flex;
justify-content:center;
align-items:center;

background:#2563EB;

color:white;

padding:18px;

border-radius:16px;

font-weight:600;

transition:.3s;

}

.primary:hover{

transform:translateY(-2px);

}

.secondary{

display:flex;
justify-content:center;
align-items:center;

border:2px solid #2563EB;

padding:18px;

border-radius:16px;

color:#2563EB;

font-weight:600;

transition:.3s;

}

.secondary:hover{

background:#2563EB;

color:white;

}