body{

background:#f5f9ff;

font-family:Arial;

padding:30px;

}

.container{

max-width:600px;

margin:auto;

}

.card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

margin-top:20px;

}

.btn{

display:block;

text-decoration:none;

background:#2f63ff;

color:white;

padding:16px;

margin-top:15px;

border-radius:12px;

font-weight:bold;

text-align:center;

}

button{

width:100%;

margin-top:20px;

padding:15px;

border:none;

background:#e53935;

color:white;

font-size:16px;

border-radius:12px;

}