/* ---------- RESET ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F8FAFC;
    color:#0F172A;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}

button{
    cursor:pointer;
    font-family:inherit;
}

section{
    padding:60px 22px;
}

.container{
    width:100%;
    max-width:1200px;
    margin:auto;
}