 body{

background:#f5f9ff;

font-family:Arial;

padding:25px;

}

.container{

max-width:700px;

margin:auto;

}

h1{

margin-bottom:20px;

color:#1f3fbf;

}

input{

width:100%;

padding:15px;

border-radius:12px;

border:2px solid #ddd;

margin-bottom:20px;

font-size:16px;

}

.job{

background:white;

padding:20px;

margin-bottom:18px;

border-radius:16px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.job h2{

margin-bottom:8px;

}

.job p{

margin:5px 0;

color:#666;

}

.apply{

margin-top:15px;

display:inline-block;

background:#2f63ff;

color:white;

padding:12px 22px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}