/* ==========================================================
   NAVBAR
========================================================== */

header{

    position:sticky;

    top:0;

    z-index:1000;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(12px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 22px;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.logo{

    display:flex;

    flex-direction:column;

}

.logo h2{

    color:var(--primary);

    font-size:40px;

    font-weight:700;

    letter-spacing:1px;

}

.logo span{

    margin-top:2px;

    font-size:14px;

    color:var(--text);

}

#menuBtn{

    width:52px;

    height:52px;

    border-radius:16px;

    background:var(--primary-light);

    color:var(--primary);

    font-size:26px;

    transition:.3s;

}

#menuBtn:hover{

    transform:scale(1.05);

}

#mobileMenu{

    display:none;

    flex-direction:column;

    gap:15px;

    padding:20px;

    background:white;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

#mobileMenu.show{

    display:flex;

}

#mobileMenu a{

    padding:14px 16px;

    border-radius:14px;

    color:var(--dark);

    font-weight:600;

    transition:.25s;

}

#mobileMenu a:hover{

    background:var(--primary-light);

    color:var(--primary);

}